<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
    <div class="col-lg-4">
      <p></p>
      <button class="btn"></button>
    </div>
  </div>
</div>